body
{
    background-color: #212121;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.center
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock
{
  font-size: 40px;
  background-color: orange;
  padding: 20px 50px;
  margin-top: 10px;
  border-radius: 10px;
}